.box{
    height: 100px;
    width: 100px;
}
.container{
    background-color: #7791c4;
    width: 500px;
    height: 500px;
    display: flex;
    flex-direction: column;
    
}
    
.yelow{
   
    background-color: yellow ;
}

.blue{
   
    background-color: blue;
}

.red{   
    background-color: red;
}